<main>
  <% @users.each do |user| %>
    <div class="container-row">
      <img class="b-3" src=<%= user.photo %> alt="user photo">
      <%= link_to user_path(user) do %>
        <div class="container-col b-3 full-width">
          <h1><%= user.name %></h1>
          <p class="ratings-box">
            Number of posts:
            <%= user.posts_counter.nil? ? 0 : user.posts_counter %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>
</main>