<main>
  <% @users.each do |user| %>
    <div class="container-row p-1">
      <img class="b-3" src=<%= user.photo %> alt="user photo">
      <div class="container-col p-1 b-3 full-width">
        <%= link_to user_path(user) do %>
          <h1><%= user.name %></h1>
        <% end %>
        <p class="align-self-end">
          Number of posts:
          <%= user.posts_counter %>
        </p>
      </div>
    </div>
  <% end %>
</main>