/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

html * {
  padding: 0;
  margin: 0;
  font-family: 'Andada Pro', serif;
}

body {
  padding: 2rem 10rem;
}

img {
  width: 8rem;
  height: 8rem;
}

.container-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.container-col {
  display: flex;
  flex-direction: column;
}

.align-self-end {
  align-self: end;
}

.b-3 {
  border: 3px solid #000;
  border-radius: 5px;
}

.full-width {
  width: 100%;
}

.display-none {
  display: none;
}

.mb-1 {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

a:hover {
  cursor: pointer;
  color: red;
  font-size: 1.3rem;
}

button {
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.align-items-c {
  align-items: center;
}

.align-items-e {
  align-items: end;
}

.p-1 {
  padding: 1rem;
}

.just-cont-sb {
  justify-content: space-between;
}
