/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html * {
  padding: 0;
  margin: 0;
}

body {
  padding: 2rem 10rem;
}

img {
  width: 8rem;
  height: 8rem;
}

.container-row {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}

.container-col {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.ratings-box {
  align-self: end;
}

.b-3 {
  border: 3px solid #000;
  border-radius: 5px;
}

.full-width {
  width: 100%;
}

.display-none {
  display: none;
}

.mb-1 {
  margin-bottom: 1rem;
}
